In [1]:
import pandas as pd
import joblib 
import numpy as np
import os
from sklearn.metrics import confusion_matrix, f1_score, precision_score, recall_score, accuracy_score
from sklearn.preprocessing import LabelEncoder

In [2]:
bad_classes = [
    "prejudicial language",
    "fallacy of slippery slope",
    "slothful induction"
]

In [3]:
all_predictions = os.listdir('cache/predictions/all')

In [4]:
all_predictions = [x for x in all_predictions if x.startswith('outputs_dict')]

In [5]:
data = []
for prediction in all_predictions:
    try:
        outputs_dict = joblib.load('cache/predictions/all/' + prediction)
        if 'meta' in outputs_dict.keys():
            data.append(outputs_dict)
    except Exception as e:
        print(e)
        continue
len(data)

968

In [6]:
def get_new_data(data, note, dataset = "data/finegrained", threshold = 0.29):
    new_data = [
        data_point
        for data_point
        in data
        if data_point["meta"]["data_dir"] == dataset and 'note' in data_point.keys() and (data_point['note'] == note or note == None)
    ]

    new_data = [
        data_point 
        for data_point in new_data
        if data_point['predictions']['metrics']['test_f1'] > threshold
    ]

    print(len(new_data))
    return new_data

In [7]:
_ = get_new_data(data, 'best_hps_final_without_attention', dataset = 'data/bigbench', threshold=0)

60

In [8]:
def get_metrics(y_true, y_pred):
    return {
        'f1': f1_score(y_true, y_pred, average = "weighted"),
        'precision': precision_score(y_true, y_pred, average = "weighted"),
        'recall': recall_score(y_true, y_pred, average = 'weighted'),
        'accuracy': accuracy_score(y_true, y_pred)
    }

In [9]:
def get_unfolded_labels(sample_data):
    label_encoder = sample_data["label_encoder"]
    cbr_labels = sample_data["cbr_labels"]
    all_cbr_labels = []
    for sample_cbr_labels in cbr_labels:
        unfolded_sample_cbr_labels = []
        for retriever_cbr_samples in sample_cbr_labels:
            for filtered_cbr_sample in retriever_cbr_samples:
                for inner_label in filtered_cbr_sample:
                    unfolded_sample_cbr_labels.append(inner_label)
        all_cbr_labels.append(unfolded_sample_cbr_labels)
        
    all_cbr_labels = [
        label_encoder.transform(cbr_labels)
        for cbr_labels
        in all_cbr_labels
    ]
    return all_cbr_labels

In [10]:
def get_overlap(sample_data):
    label_encoder = sample_data["label_encoder"]
    
    labels = sample_data["predictions"]["label_ids"]
    
    cbr_labels = sample_data["cbr_labels"]
    
    all_cbr_labels = []
    for sample_cbr_labels in cbr_labels:
        unfolded_sample_cbr_labels = []
        for retriever_cbr_samples in sample_cbr_labels:
            for filtered_cbr_sample in retriever_cbr_samples:
                for inner_label in filtered_cbr_sample:
                    unfolded_sample_cbr_labels.append(inner_label)
        all_cbr_labels.append(unfolded_sample_cbr_labels)
        
    all_cbr_labels = [
        label_encoder.transform(cbr_labels)
        for cbr_labels
        in all_cbr_labels
    ]
    
    predicted_labels = np.argmax(sample_data["predictions"]["predictions"], axis = -1)
    correct_predictions = np.where(labels == predicted_labels)[0]

    overlap_count = 0
    for index in correct_predictions:
        if labels[index] in all_cbr_labels[index]:
            overlap_count += 1
    return overlap_count / len(correct_predictions)

In [11]:
def get_results_df(new_data):
    total_cbr_texts = []
    total_cbr_labels = []
    total_num_cases = []
    total_retrievers = []
    total_overlaps = []
    total_thresholds = []
    total_f1_scores = []
    total_precisions = []
    total_recalls = []
    total_accuracies = []
    total_true_labels = []
    total_predicted_labels = []
    for sample_data in new_data:
        if 'cbr_labels' in sample_data.keys():
            total_num_cases.append(sample_data['meta']['num_cases'])
            total_retrievers.append(' '.join(sample_data['meta']["retrievers"]))
            total_cbr_texts.append(sample_data['cbr'])
            total_cbr_labels.append(get_unfolded_labels(sample_data))
            
            total_overlaps.append(get_overlap(sample_data))
            total_thresholds.append(sample_data['meta']['cbr_threshold'])
        else:
            total_cbr_texts.append(None)
            total_cbr_labels.append(None)
            total_num_cases.append(None)
            total_retrievers.append(None)
            total_overlaps.append(None)
            total_thresholds.append(None)
            
        total_f1_scores.append(sample_data['predictions']['metrics']['test_f1'])
        total_precisions.append(sample_data['predictions']['metrics']['test_precision'])
        total_recalls.append(sample_data['predictions']['metrics']['test_recall'])
        total_accuracies.append(sample_data['predictions']['metrics']['test_accuracy'])
        total_true_labels.append(sample_data['predictions']['label_ids'])
        total_predicted_labels.append(
            np.argmax(sample_data['predictions']['predictions'], axis = -1).tolist()
        )
    
    
        
    results_df = pd.DataFrame({
        'num_cases': total_num_cases,
        'threshold': total_thresholds,
        'retrievers': total_retrievers,
        'overlaps': total_overlaps,
        'f1': total_f1_scores,
        'precision': total_precisions,
        'recall': total_recalls,
        'accuracy': total_accuracies,
        'cbr': np.array(total_cbr_texts).squeeze().tolist(),
        'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),
        'label_ids': total_true_labels,
        'predicted_labels': total_predicted_labels
    })
    return results_df

### Fine Grained

In [28]:
new_data = get_new_data(data, "best_hps_final_baseline")
results_df = get_results_df(new_data)
results_df.f1.mean()

18

0.6256211702260767

In [29]:
new_data = get_new_data(data, "best_hps_final_without_attention")
results_df = get_results_df(new_data)
print(results_df.f1.mean())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].mean()

18
0.5916446984296276

                overlaps        f1  precision    recall  accuracy
retrievers
empathy              0.0  0.590704   0.596686  0.595000  0.595000
simcse               0.0  0.590486   0.602600  0.593333  0.593333
simcse empathy       0.0  0.596712   0.606680  0.600000  0.600000

In [30]:
new_data = get_new_data(data, "best_hps_final")
results_df = get_results_df(new_data)
print(results_df.f1.mean())
print(results_df.f1.max())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].mean()

21
0.6190162279101896
0.6430050638282316

/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                overlaps        f1  precision    recall  accuracy
retrievers
empathy         0.322404  0.606562   0.614255  0.610000  0.610000
simcse          0.525773  0.643005   0.646090  0.646667  0.646667
simcse empathy  0.630702  0.607849   0.627357  0.612000  0.612000

### Coarse Grained

In [31]:
new_data = get_new_data(data, "best_hps_final_baseline", dataset = "data/coarsegrained")
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())

18
f1           0.782848
precision    0.789266
recall       0.787224
accuracy     0.787224
dtype: float64
f1           0.813135
precision    0.812066
recall       0.817814
accuracy     0.817814
dtype: float64

In [78]:
new_data = get_new_data(data, "best_hps_final_without_attention", dataset = "data/coarsegrained", threshold = 0.4)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['accuracy', 'precision', 'recall', 'f1']].mean()

19
accuracy     0.783507
precision    0.777657
recall       0.783507
f1           0.778725
dtype: float64
accuracy     0.805668
precision    0.800807
recall       0.805668
f1           0.800680
dtype: float64

                accuracy  precision    recall        f1
retrievers
empathy         0.768219   0.762251  0.768219  0.764453
simcse          0.803933   0.800543  0.803933  0.799332
simcse empathy  0.773279   0.765336  0.773279  0.767830

In [79]:
new_data = get_new_data(data, "best_hps_final", dataset = "data/coarsegrained", threshold=0.6)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['accuracy', 'precision', 'recall', 'f1']].mean()

21
accuracy     0.779834
precision    0.782774
recall       0.779834
f1           0.776281
dtype: float64
accuracy     0.801619
precision    0.801724
recall       0.801619
f1           0.795360
dtype: float64

/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                accuracy  precision    recall        f1
retrievers
empathy         0.793522   0.799528  0.793522  0.790770
simcse          0.774629   0.774732  0.774629  0.772452
simcse empathy  0.771761   0.774147  0.771761  0.766476

### Big Bench

In [80]:
new_data = get_new_data(data, None, dataset = "data/bigbench")
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].max()

249
accuracy     0.789042
precision    0.761081
recall       0.789042
f1           0.764592
dtype: float64
accuracy     0.997619
precision    0.997630
recall       0.997619
f1           0.997619
dtype: float64

/tmp/ipykernel_2388946/40003336.py:51: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr': np.array(total_cbr_texts).squeeze().tolist(),
/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                overlaps        f1  precision    recall  accuracy
retrievers
empathy         0.975177  0.954781   0.954898  0.954762  0.954762
simcse          0.990881  0.966685   0.966879  0.966667  0.966667
simcse empathy  0.979112  0.911998   0.915080  0.911905  0.911905

In [81]:
new_data = get_new_data(data, "best_hps_final_baseline", dataset = "data/bigbench")
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())

18
accuracy     0.851455
precision    0.886535
recall       0.851455
f1           0.849502
dtype: float64
accuracy     0.997619
precision    0.997630
recall       0.997619
f1           0.997619
dtype: float64

In [84]:
new_data = get_new_data(data, "best_hps_final_without_attention", dataset = "data/bigbench", threshold=0.6)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].max()

41
accuracy     0.826190
precision    0.829776
recall       0.826190
f1           0.824667
dtype: float64
accuracy     0.942857
precision    0.944043
recall       0.942857
f1           0.942916
dtype: float64

                overlaps        f1  precision    recall  accuracy
retrievers
empathy              0.0  0.942916   0.944043  0.942857  0.942857
simcse               0.0  0.921416   0.921413  0.921429  0.921429
simcse empathy       0.0  0.842674   0.842838  0.842857  0.842857

In [85]:
new_data = get_new_data(data, "best_hps_final", dataset = "data/bigbench", threshold=0.6)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].max()

42
accuracy     0.782710
precision    0.789373
recall       0.782710
f1           0.782221
dtype: float64
accuracy     0.911905
precision    0.915080
recall       0.911905
f1           0.911998
dtype: float64

/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                overlaps        f1  precision    recall  accuracy
retrievers
empathy         0.975177  0.864418   0.865343  0.864286  0.864286
simcse          0.989510  0.861946   0.862026  0.861905  0.861905
simcse empathy  0.979112  0.911998   0.915080  0.911905  0.911905

### New Fine Grained

In [37]:
new_data = get_new_data(data, "best_hps_final_baseline", dataset = "data/new_finegrained", threshold  = 0)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())

94
f1           0.400703
precision    0.421119
recall       0.409751
accuracy     0.409751
dtype: float64
f1           0.629232
precision    0.649869
recall       0.622356
accuracy     0.622356
dtype: float64

In [38]:
new_data = get_new_data(data, "best_hps_final_without_attention", dataset = "data/new_finegrained", threshold=0)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].mean()

40
f1           0.497668
precision    0.506981
recall       0.502341
accuracy     0.502341
dtype: float64
f1           0.598112
precision    0.614553
recall       0.595166
accuracy     0.595166
dtype: float64

                overlaps        f1  precision    recall  accuracy
retrievers
empathy              0.0  0.572369   0.579059  0.577039  0.577039
simcse               0.0  0.586747   0.598886  0.585887  0.585887
simcse empathy       0.0  0.395183   0.403464  0.404162  0.404162

In [39]:
new_data = get_new_data(data, "best_hps_final", dataset = "data/new_finegrained", threshold=0.4)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].mean()

49
f1           0.512411
precision    0.526223
recall       0.512670
accuracy     0.512670
dtype: float64
f1           0.561420
precision    0.577600
recall       0.558912
accuracy     0.558912
dtype: float64

/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                overlaps        f1  precision    recall  accuracy
retrievers
simcse          0.794690  0.489436   0.502549  0.490181  0.490181
simcse empathy  0.566083  0.534466   0.548951  0.534260  0.534260

In [40]:
new_data = get_new_data(data, "best_hps_final", dataset = "data/new_finegrained", threshold=0.4)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('num_cases')[['overlaps', 'f1', 'precision', 'recall', 'accuracy']].mean()

49
f1           0.512411
precision    0.526223
recall       0.512670
accuracy     0.512670
dtype: float64
f1           0.561420
precision    0.577600
recall       0.558912
accuracy     0.558912
dtype: float64

/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

           overlaps        f1  precision    recall  accuracy
num_cases
1          0.322432  0.544082   0.554685  0.548338  0.548338
3          0.696257  0.496235   0.511318  0.495945  0.495945
4          0.786249  0.519610   0.533130  0.518966  0.518966
5          0.815951  0.493503   0.509017  0.492447  0.492447

In [41]:
new_data = get_new_data(data, "best_hps_final", dataset = "data/bigbench")

best_result = None
best_f1 = -np.inf
for point in new_data:
    if point['predictions']['metrics']['test_f1'] > best_f1:
        best_f1 = point['predictions']['metrics']['test_f1']
        best_result = point

59

### Best Hps

## New Finegrained

In [42]:
new_data = get_new_data(data, note = "best_hps_final_baseline_best_ps", dataset = "data/new_finegrained", threshold=0)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())

18
f1           0.501514
precision    0.517504
recall       0.503525
accuracy     0.503525
dtype: float64
f1           0.532737
precision    0.540722
recall       0.537764
accuracy     0.537764
dtype: float64

In [65]:
new_data = get_new_data(data, note = "best_hps_final_without_attention_best_ps", dataset = "data/new_finegrained", threshold=0)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['accuracy', 'precision', 'recall', 'f1']].max()

18
accuracy     0.535247
precision    0.542838
recall       0.535247
f1           0.532134
dtype: float64
accuracy     0.540785
precision    0.551131
recall       0.540785
f1           0.539524
dtype: float64

                accuracy  precision    recall        f1
retrievers
empathy         0.531722   0.535219  0.531722  0.526820
simcse          0.540785   0.551131  0.540785  0.539524
simcse empathy  0.540785   0.543191  0.540785  0.530175

In [12]:
new_data = get_new_data(data, note = "best_hps_final_best_ps", dataset = "data/new_finegrained", threshold=0)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['accuracy', 'precision', 'recall', 'f1']].mean()

75
accuracy     0.550211
precision    0.562931
recall       0.550211
f1           0.548913
dtype: float64
accuracy     0.574018
precision    0.593917
recall       0.574018
f1           0.571961
dtype: float64

/tmp/ipykernel_2404724/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                accuracy  precision    recall        f1
retrievers
simcse          0.550261   0.563291  0.550261  0.549252
simcse empathy  0.549849   0.560295  0.549849  0.546428

In [13]:
results_df.groupby('num_cases')[['accuracy', 'precision', 'recall', 'f1']].mean()

           accuracy  precision    recall        f1
num_cases
1          0.540785   0.549701  0.540785  0.535543
2          0.570997   0.593917  0.570997  0.571961
3          0.555891   0.570874  0.555891  0.557301
4          0.559248   0.570435  0.559248  0.557400
5          0.525680   0.525849  0.525680  0.521101
6          0.528701   0.548948  0.528701  0.531194

### Results with Electra

In [55]:
new_data = get_new_data(data, note = "best_hps_final_best_ps_electra", dataset = "data/new_finegrained", threshold=0)
results_df = get_results_df(new_data)
print(results_df[['accuracy', 'precision', 'recall', 'f1']].mean())
print(results_df[['accuracy', 'precision', 'recall', 'f1']].max())
results_df.groupby('retrievers')[['accuracy', 'precision', 'recall', 'f1']].max()

30
f1           0.565262
precision    0.577704
recall       0.566062
accuracy     0.566062
dtype: float64
f1           0.627227
precision    0.638502
recall       0.631420
accuracy     0.631420
dtype: float64

/tmp/ipykernel_2388946/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

                accuracy  precision    recall        f1
retrievers
simcse          0.631420   0.638502  0.631420  0.627227
simcse empathy  0.498489   0.518512  0.498489  0.501245

In [53]:
results_df.groupby('num_cases')[['accuracy', 'precision', 'recall', 'f1']].max()

           accuracy  precision    recall        f1
num_cases
1          0.570997   0.579555  0.570997  0.569204
2          0.498489   0.518512  0.498489  0.501245
5          0.631420   0.638502  0.631420  0.627227

### Analysis on the stuff that help the model with CBR

In [ ]:
cbr_data = get_new_data(data, note = "best_hps_final_best_ps", dataset = "data/new_finegrained", threshold=0)
cbr_model_df = get_results_df(cbr_data)
cbr_model_df

25

/tmp/ipykernel_2274529/40003336.py:52: VisibleDeprecationWarning: Creating an ndarray from ragged nested sequences (which is a list-or-tuple of lists-or-tuples-or ndarrays with different lengths or shapes) is deprecated. If you meant to do this, you must specify 'dtype=object' when creating the ndarray.
  'cbr_labels': np.array(total_cbr_labels).squeeze().tolist(),

,num_cases,threshold,retrievers,overlaps,f1,precision,recall,accuracy,cbr,cbr_labels,label_ids,predicted_labels
0,4,-10000000,simcse,0.790698,0.519892,0.535958,0.519637,0.519637,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[3, 11, 7, 5, 7, 7, 0, 0, 0, 3, 1, 7, 1, 11, 1..."
1,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
2,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
3,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
4,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
5,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
6,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
7,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
8,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
9,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
10,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
11,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
12,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
13,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
14,4,-10000000,simcse,0.762162,0.561420,0.576230,0.558912,0.558912,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1], [11, 11, 11, 11], [7, 7, 7, 7]...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 12, 5, 11, 11, 0, 0, 12, 3, 1, 7, 1, 1..."
15,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
16,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
17,4,-10000000,simcse empathy,0.879121,0.546428,0.560295,0.549849,0.549849,[Either go to the party or spend the night in ...,"[[10, 1, 3, 1, 3, 8, 8, 3], [11, 11, 11, 11, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 12, 11, 3, 0, 0, 0, 3, 1, 7, 1, 9,..."
18,1,-10000000,simcse,0.541899,0.538329,0.547329,0.540785,0.540785,[Either go to the party or spend the night in ...,"[[10], [11], [7], [5], [3], [11], [0], [8], [1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 2, 5, 4, 3, 0, 8, 0, 3, 1, 7, 1, 9, 1..."
19,2,-10000000,simcse,0.603175,0.571961,0.593917,0.570997,0.570997,[Either go to the party or spend the night in ...,"[[10, 1], [11, 11], [7, 7], [5, 3], [3, 7], [1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 11, 0, 0, 0, 0, 3, 1, 7, 1, 9, 1..."
20,3,-10000000,simcse,0.739130,0.557301,0.570874,0.555891,0.555891,[Either go to the party or spend the night in ...,"[[10, 1, 3], [11, 11, 11], [7, 7, 7], [5, 3, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[10, 11, 7, 3, 11, 3, 0, 0, 12, 3, 1, 7, 1, 9,..."
21,1,-10000000,simcse,0.519553,0.535233,0.549965,0.540785,0.540785,[Either go to the party or spend the night in ...,"[[10], [11], [7], [5], [3], [11], [0], [8], [1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 11, 7, 5, 0, 8, 12, 3, 1, 7, 11, 7..."
22,2,-10000000,simcse,0.603175,0.571961,0.593917,0.570997,0.570997,[Either go to the party or spend the night in ...,"[[10, 1], [11, 11], [7, 7], [5, 3], [3, 7], [1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 11, 0, 0, 0, 0, 3, 1, 7, 1, 9, 1..."
23,3,-10000000,simcse,0.739130,0.557301,0.570874,0.555891,0.555891,[Either go to the party or spend the night in ...,"[[10, 1, 3], [11, 11, 11], [7, 7, 7], [5, 3, 1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[10, 11, 7, 3, 11, 3, 0, 0, 12, 3, 1, 7, 1, 9,..."
24,1,-10000000,simcse,0.519553,0.535233,0.549965,0.540785,0.540785,[Either go to the party or spend the night in ...,"[[10], [11], [7], [5], [3], [11], [0], [8], [1...","[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[11, 11, 3, 11, 7, 5, 0, 8, 12, 3, 1, 7, 11, 7..."

In [16]:
base_data = get_new_data(data, note = "best_hps_final_baseline_best_ps", dataset = "data/new_finegrained", threshold=0)
base_data_df = get_results_df(base_data)
base_data_df

18

,num_cases,threshold,retrievers,overlaps,f1,precision,recall,accuracy,cbr,cbr_labels,label_ids,predicted_labels
0,None,None,None,None,0.532737,0.540722,0.537764,0.537764,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[10, 11, 11, 3, 7, 0, 0, 0, 0, 3, 1, 11, 11, 1..."
1,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
2,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
3,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
4,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
5,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
6,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
7,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
8,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
9,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
10,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
11,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
12,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
13,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
14,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
15,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
16,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."
17,None,None,None,None,0.499677,0.516139,0.501511,0.501511,None,None,"[10, 11, 5, 8, 7, 8, 0, 0, 0, 3, 1, 7, 1, 9, 1...","[2, 11, 2, 3, 7, 11, 0, 0, 0, 3, 8, 8, 3, 11, ..."

In [17]:
base_model_index = 1
cbr_model_index = 19

wrong_predictions_in_base_model = np.where(base_data_df.iloc[base_model_index]['predicted_labels'] != base_data_df.iloc[base_model_index]['label_ids'])[0]
predictions_correct_by_cbr = np.where(cbr_model_df.iloc[cbr_model_index]['predicted_labels'] == cbr_model_df.iloc[cbr_model_index]['label_ids'])[0]

NameError: name 'cbr_model_df' is not defined

In [18]:
indices_of_interest = np.intersect1d(wrong_predictions_in_base_model, predictions_correct_by_cbr)

NameError: name 'predictions_correct_by_cbr' is not defined

In [19]:
labels_for_the_indices_of_interest = [base_data_df.iloc[base_model_index]['label_ids'][i] for i in indices_of_interest]
print(labels_for_the_indices_of_interest)

NameError: name 'indices_of_interest' is not defined

In [20]:
cbr_labels_for_the_indices_of_interest = [cbr_model_df.iloc[cbr_model_index]['cbr_labels'][i] for i in indices_of_interest]
print(cbr_labels_for_the_indices_of_interest)

NameError: name 'indices_of_interest' is not defined

In [99]:
label_encoder = cbr_data[0]['label_encoder']

test_df = pd.read_csv(os.path.join('data/new_finegrained', "test.csv"))
test_df = test_df[~test_df["label"].isin(bad_classes)]
test_df['label'] = label_encoder.transform(test_df['label'])

In [106]:
for index, label, cbr in zip(indices_of_interest, labels_for_the_indices_of_interest, cbr_labels_for_the_indices_of_interest):
    print(label, cbr, test_df['text'].iloc[index])
    print(cbr_model_df.iloc[cbr_model_index]['cbr'][index])
    print('--------')

1 [1 1] Everyone is going to get the new smart phone when it comes out this weekend. Why aren’t you?
"I'm gonna get an iPhone because everybody else has an iPhone and they're cool." Everyone wants the iPhone 11 because it's the best phone on the market!
--------
7 [7 7] surgeons have X-rays to guide them during an operation, lawyers have briefs to guide them during a trial, carpenters have blueprints to guide them when they are building a house. Why, then, shouldn’t students be allowed to look at their textbooks during an examination?
Doctors refer to medical books all the time when they are treating patients. In the same way, I should be allowed to use a textbook in my medical exam. If I say that a surgeon should be allowed to use a guidebook to carry out surgery like a student can use open notes on a test, I have made a
--------
1 [1 1] it is used to promote something based on popularity
Argues that because something is popular, it must be right. You appealed to popularity or the fact that many people do something as an attempted form of validation.
--------
9 [2 7] The Soviet Union collapsed after taking up atheism. Therefore, we must avoid atheism for the same reasons.
Which fallacy is the following example? "By rejecting God, you are rejecting goodness, kindness, and love itself." I don't believe in God. One reason is that I think he is evil. And by the way, there is no such thing as "evil;" it is just our evaluation of what we believe is wrong.
--------
2 [11 11] Last year I wanted to quit school because my friends treated me like an outcast and talked about me to my friends. I felt betrayed and sad all of the time but now I think I have a place at my new middle school.
Teachers don't have lives."My best friend said her English class was hard, and the one I'm in is hard too. All English classes must be hard." My friend said her Math class was hard, and the one I’m in is hard, too. All Math classes must be hard!
--------
10 [2 2] Unless you can close your eyes to abuse, write a check to save this puppy.
We have a responsibility to care for this poor lost dog. A commercial shows images of animals in need to persuade the audience to make donations.
--------
8 [12 10] "'What about Red Herring, ma'am?'' "'I'm not sure. Is Red Herring a red herring? Or is it the fact that we're meant to think Red Herring is a red herring that is actually the red herring?' "'Or perhaps the fact you're meant to think Red Herring isn't a red herring is what makes Red Herring a red herring after all.' "'We're talking serious metaherrings here.'"
"If you believe that I am wrong, prove to me that I am." When a statement falsely claims or assumes an "either / or" situation, when in fact there is at least one additional logically valid option, it is called...
--------
11 [ 3 11] "Everyone wants to be an English teacher."
"He's the best teacher I've ever had because he's the best teacher I've known." If you allow the students to redo this test, they are going to want to redo every assignment for the rest of the year.
--------
2 [ 2 10] You've got to donate to the hockey team. They are helping build schools in Uganda. Imagine all of those poor and hungry kids there.
An advertisement asking people to give to St. Jude Research Center to help children struggling with cancer. You wouldn't want to let these children die, right? I'm raising funds to help cure XYZ disease. If you don't donate, then you're part of the problem.
--------
1 [12  2] Mark: Do you believe in virgin births? Sue: You mean that babies are born virgins? Mark: I mean birth without fertilization. Sue: No. Mark: How could you not believe in virgin births? Roughly two billion people believe in them, don’t you think you should reconsider your position?
Are you one of those stupid religious people that reject science? Don't you want the best for your baby?
--------
10 [12 11] Too much candy can cause cavities. You should avoid eating any candy unless you want cavities.
"Good source of Vitamin D"...*doesn't mention the terrible amounts of sugar. "The government should not prohibit drugs. Otherwise the government should also ban alcohol or cigarettes. And then fatty food and junk food would have to be regulated too. The next thing you know, the government would force us to brush our teeth and do exercises everyday."
--------
9 [9 6] The report suggests that 'the rise in violent offending and the explosion in the sales of iPods and other portable media devices is more than coincidental,' and asks, rather provocatively, 'Is There an iCrime Wave?' The report notes that nationally, violent crime fell every year from 1993 to 2004, before rising in 2005 and 2006, just as 'America’s streets filled with millions of people visibly wearing, and being distracted by, expensive electronic gear.'
President Jones raised taxes, and then the rate of violent crime went up. Jones is responsible for the rise in crime. "Advocates of legalized abortion predicted it would solve our social problems. Instead, this destruction of one-fourth of a generation has left a more violent society in its wake: Child abuse has exploded, from 167,000 estimated cases in 1973 to 2.4 million in 1989, according to the National Center of Child Abuse and Neglect - a 1,400% increase. Teen suicide, among non-aborted and thus presumably "wanted" children, has doubled. Violent crime has more than doubled."
--------
3 [3 7] Paranormal activity is real because I've seen a ghost.
Ghosts exist.... because I saw a ghost in my closet If I’m psychic, I will be able to see dead people. I see dead people, therefore I’m psychic.
--------
8 [8 8] My wife wants to talk about cleaning out the garage, so I asked her what she wants to do with our patio furniture. Now she's shopping for new patio furniture and not asking me about the garage.
I want to sell my house for $400,000. A buyer wants it for $100,000, so I must sell it for $250,000. Your mom thinks you spend too much time playing video games. You bring up that she spends too much time shopping.
--------
11 [11  5] If you forget to floss, you will get cavities, and if you get cavities, you will lose all your teeth by the time you're 30.
If you don’t eat breakfast, you’ll slouch in your desk. If you slouch in your desk, you’ll hurt your back. If you hurt your back, you’ll never become President. “four out of five dentists agree that brushing your teeth makes your life meaningful”
--------
0 [11 11] J: Cats are better than dogs. V: Dogs are better. J: You are a lazy person. You won't even be able to take care of a dog.
A lion is a cat and cats are good pets so a lion must be a good pet. My cat sleeps all day, so cats must be pretty lazy.
--------
11 [1 4] Daniel was a precocious child and had a liking for logic. He reasoned that atoms are invisible, and that he was made of atoms and therefore invisible too. Unfortunately, despite his thinky skills, he lost the game of hide and go seek.
Red had come up six times in a row on the roulette wheel, so Greg knew that it was close to certain that black would be next up. Suffering an economic form of natural selection with this thinking, he soon lost all of his savings. "I see nobody on the road," said Alice. "I only wish I had such eyes," the king remarked..."To be able to see Nobody! And at that distance, too! Why it's as much as I can do to see real people, by this light."
--------
11 [11  2] Everyone knows that teenagers are lazy
“If we let teenagers wear whatever they want to school, they will no longer respect the rules and academic performance will decline.” If we don’t teach teens to work harder, the human race is doomed.
--------
0 [11 11] Bill, you drive a beat-up car from the 1980s. For this reason, we can never allow you to be a lifeguard at the community pool.
That type of car is poorly made; a friend of mine has one, and it continually gives him trouble. Don't ever gamble! Once you start, you won't be able to stop, and you'll end up bankrupt.
--------
2 [12  4] I believe that when we die, we are all given new, young, perfect bodies, and we spend eternity with those whom we love. I can’t imagine the point of life if it all just ends when we die!
What’s the point of living?  We’re all going to die anyway. All living beings come from other living beings.  Therefore, the first forms of life must have come from a living being.  That living being is God.
--------
1 [1 8] In this election, we've seen the highest voter turnout ever recorded. If you have any doubts about Tyler Espinoza's qualifications, just look at how many people have come out to vote for him.
"The majority of people are voting for John Doe, so he must be the best candidate." We admit that the measure is popular. But we also urge you to note that there are so many bond issues on the ballot that the whole thing is getting ridiculous.
--------
0 [0 6] My opponent in this election claims to have the best interests of our community at heart. However, he is separated from his family. Isn’t family the basic unit of society? How can we entrust the concerns of the community to someone who was not able to keep his family together?
A politician arguing that his opponent cannot possibly be a good choice for women because he has been married and divorced five times. My opponent in the election keeps claiming that he wants to give tax credits to poor people. That means that he wants to raise taxes for the middle class.
--------
12 [11  0] How many school shootings should we tolerate before we change the gun laws?
The numbers on gun violence speak for themselves. We should ban guns in the country! The Democrats support more aggressive gun control laws. Can you believe they want to deny repeat offenders and those on the terrorist watch list their rights?
--------
3 [0 0] I view any discussion concerning the limiting of therapy as morally wrong, that is why I do not accept it.
I cannot listen to anyone who does not share my social and political values. I think that we should reject what Father Jones has to say about the ethical issues of abortion because he is a Catholic priest. After all, Father Jones is required to hold such views
--------
6 [3 2] What I object to most about those people who oppose capital punishment is that they believe that the lives of convicted murderers are more important than the lives of the police and prison guards who protect us. But, obviously, since the lives of those who protect us are of the greatest value, no one should oppose capital punishment.
Executions are moral because we must have a death penalty to discourage violent crime. If there is no objective morality, then all the bad people will not be punished for their bad behavior after death.  I don’t like that; therefore, morality must be objective.
--------
2 [2 2] an attempt to persuade the reader/audience based on feelings or emotions; emotional response
Words with strong feelings that bring about feelings in the reader. Strong words (+ or -) specifically used to sway the reader When an advertiser tries to make a connection with the audience emotionally through sappy stories, music, sad puppies, etc...
--------
0 [ 0 11] But, Dad, I know you smoked when you were my age, so how can you tell me not to do it?
Mother: You should stop smoking. It's harmful to your health. Daughter: Why should I listen to you? You started smoking when you were 16! My father smoked four packs of cigarettes a day since age fourteen and lived until age sixty-nine. Therefore, smoking really can’t be that bad for you.
--------
11 [ 3 11] Duke University has the best basketball player in the NCAA, therefore they will win the tournament this year.
"She is the best candidate for president because she is better than the other candidates!" The last Democrat winner of the New Hampshire primary won the general election. This year, the winner of the New Hampshire primary will win the general election.
--------
8 [10 10] Roommate A: We need to talk about your dog. He keeps peeing everywhere and making a mess. Roommate B: It's not as big of a problem as your cat. The thing sheds all over my clothes!
['At a recent house party, the discussion has turned to domestic issues, and your friend asks you are you a cat or or dog person?"'] ['At the recent house party, the conversation has turned towards your pets, and your friend questions you “Are you a cat or a dog person']
--------
11 [0 0] This clinic sure makes a lot of money. Each of the psychologists who work there must earn a large income.
['Researchers are frauds that still earn huge salaries'] ['Researchers are frauds who only get high salaries']
--------
3 [ 8 10] The witchcraft problem is the most urgent spiritual crisis in the world today. Why? Because witches threaten our very souls.
There is a global recession and more people are becoming hungry and desperate. Crimes of theft and robbery have been increasing at an alarming rate lately. The only way to solve this problem is by reinstating the death penalty We either ban hairspray or the world will end.
--------
8 [ 6 11] The city should not be singling out our company's problems at our chemical storage facilities, when the EPA records indicate the city's very own landfill has been cited as needing improvements. The council needs to clean up its own mess, before they go after us.
Al Gore feels that all companies are irresponsible and should be punished for allowing emissions which causes global warming. Habib didn't remember to take out the trash this morning. It will pile up and the neighbors will complain and the health inspectors will come and take away the kids.
--------
11 [11 11] "If you don't get an A in Mr. K's class you will fail high school, never graduate, and end up fighting people for nickels under freeway as a career"
If I don't take the right classes in high school, then I won't be able to get into a good college. If I don't get into a good college, then I won't be able to get a job. If I can't get a job, then I am going to end up homeless. I failed my AP vocab test so clearly I'm going to fail the class. Then I won't get into college and will never get a job. I will have to live in my parents' basement for the rest of my life. My life is ruined
--------
11 [11  0] A person hanging out in a bar will be an alcoholic
If indoor smoking laws are passed for bars, the bars will go out of business since people who drink, smoke while they drink. Dad drank at parties, too
--------
2 [6 0] You should choose to work more overtime at the same rate of pay. After all, you wouldn’t want to lose your job, would you?
If you told a person, "I think we should all stay inside to bend the curve of COVID-19" and they replied, "so I guess you want people to lose their jobs then," A: The Government should enact minimum-wage legislation so that workers are not exploited. B: Nonsense. You say that only because you cannot find a good job.
--------
11 [7 7] "All elephants are big. Some boys are big. Therefore some boys are elephants."
All lions are animals. All cats are animals. Therefore, all lions are cats. No donkeys are fish. Some asses are donkeys. Therefore, some asses are fish.
--------
2 [2 2] “I really deserve an “A” on this paper, professor. Not only did I study during my grandmother’s funeral, but I also passed up the heart transplant surgery, even though that was the first matching donor in 3 years.”
You have to give me a passing grade. I spent 150 hours on that project and missed every party this quarter. I should receive an 'A' in this class. After all, if I don't get an 'A' I won't get the fellowship that I want.
--------
0 [ 8 12] There you are cheating on your husband, how could you ever tell us anything meaningful about ethics?
A man who has cheated on his spouse is confronted by a friend who tells him that it is wrong. The man begins to talk about right versus wrong and who decides. ['Why can you all take such a stupid and uninformed attitude to ethics?']
--------
11 [11 11] Tyler's friends are all obnoxious, he's a bad kid
ALL teenagers are irresponsible She has always associated with shady people, so she must not be trustworthy.
--------
0 [11  6] (1) William Dembski argues that modern biology supports the idea that there is an intelligent designer who created life. (2) Dembski would say that because he’s religious. Therefore: (3) Modern biology doesn’t support intelligent design
Religion may have been wrong about a few things, but science has been wrong about many more things! Ted: Biological evolution is both a theory and a fact. Edwin: That is ridiculous! How can you possibly be absolutely certain that we evolved from pond scum! Ted: Actually, that is a gross misrepresentation of my assertion. I never claimed we evolved from pond scum.
--------
11 [1 1] "Annie must like Starbucks because all white girls like Starbucks."
"Everyone should like coffee: 95% of teachers do!" Everyone I know is making fruit smoothies for quick, portable meals, so smoothies must be really good for you.
--------
11 [7 7] French people are great at kissing. Julie is French. Get me a date!
['"We really like girls, so they should get married."'] ['"We both adore them, so they should get married."']
--------
2 [6 4] This technique using vague positive words that actually hold little meaning.
Misrepresents the context from which a quotation is taken; putting words or ideas in people’s mouth/head; creating a “dummy” or fake or falsified argument or situation so you can attack it. The writer or speaker intentionally misleads the audience by using a word with a double or ambiguous meaning.
--------
8 [11  8] That parking attendant who gave me a ticket is as bad as Hitler.
That German, Fred, stole my wallet. All Germans are thieves. This dress code is so bad I feel like I'm in prison.
--------
5 [ 7 11] We're going to celebrate New Year's Eve this way because that's how we've always done it.
['"We all like music, so we always get together'] Don't let your children stay up till midnight on New Year's Eve. Before you know it, they'll be demanding to stay up till midnight every night.
--------
12 [12  1] Because you found something difficult to understand, or are unaware of how it works, you made out like it is probably not true.
Superstition is a belief or practice resulting from ignorance, fear of the unknown, trust in magic or chance, or a false conception of causation -- unless it is astrology. ['Get why other people may be wrong.']
--------
5 [5 5] Dave: For five generations, the men in our family went to Stanford and became doctors, while the women got married and raised children.  Therefore, it is my duty to become a doctor. Kaitlin: Do you want to become a doctor? Dave: It doesn’t matter -- it is our family tradition.  Who am I to break it?
Our family has always been farmers, so we should always be farmers Everyone in our family has gone to the University of Tennessee, so you need to apply to UT.
--------
10 [12  7] If it wasn't a missile, a bomb, or mechanical failure, then all that's left is a meteorite.
We haven’t proven aliens didn’t create life on earth, so aliens created life on earth. It is possible aliens built the pyramids. Therefore, aliens built the pyramids.
--------
7 [1 1] I believe that PNoy is the Abraham Lincoln of the Philippines.
Lahat nakamove-on na ikaw na lang hindi pa. #MarcosIsAHero Trump cites (biased) poll results showing that people think he’s a strong leader to prove a point that he is a strong leader. ABC News/Washington Post Poll (wrong big on election) said almost all stand by their vote on me & 53% said strong leader.
--------
11 [1 1] Everyone who gets a college degree is better off.  All people who are better off as a result of getting a degree are good to have conversations with.  Therefore, everyone who gets a college degree is a good person to have a conversation with.
Everybody does it.  You should too. , if everyone else is doing something, it must be right/good.
--------